<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | My Wall</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset ('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset ('bundles/app/css/1-col-portfolio.css') }}" rel="stylesheet">
    <link href="{{ asset ('bundles/app/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/style/common.css') }}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>

    <script src="{{ asset('bundles/app/js/common.js') }}" ></script>

    {% block styles %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
{% include "AppBundle:Layouts:header.html.twig" %}

{#{% include 'AppBundle:Layouts:sidebar.html.twig' %}#}



{% block content %}
{% endblock %}

{% block body %}
{% endblock %}
<div id="clear"></div>

{% block update %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
