<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Enter
            </a>
        </li>

        {% if app.user %}
        <li>
            <img src="{{ app.user.avatar }}" />
        </li>
        <li>
            <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
        </li>

        <li>
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        </li>
        <li>
            <a href="{{ path('user_update_profile') }}">User profile</a>
        </li>

        {% else %}
        <li>
            <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'vkontakte'}) }}">Вк</a>
        </li>
        <li>
            <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Fa</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- /#sidebar-wrapper -->
{#<div>#}
    {#<h4>Увійти:</h4>#}
    {#{% if app.user %}#}
        {#<div>#}
            {#<img src="{{ app.user.avatar }}" />#}
            {#<a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>   |#}
            {#<a href="{{ path('fos_user_security_logout') }}">Logout</a><br>#}
            {#<a href="{{ path('user_update_profile') }}">User profile</a>#}
        {#</div>#}
    {#{% else %}#}
        {#<div>#}
            {#<a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'vkontakte'}) }}">Вк</a>#}
        {#</div>#}


        {#<div>#}
            {#<a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Fa</a>#}
        {#</div>#}
    {#{% endif %}#}
{#</div>#}
