{{ form_errors(CvForm) }}
{{ form_start(CvForm, {'action': path('artel_cv', {'id': developer.id}), 'method': 'POST'}) }}

<div class="form-group">
    {{ form_label(CvForm.title) }}
    {{ form_widget(CvForm.title) }}
</div>

<div class="form-group">

    {{ form_label(CvForm.photo) }}
    {{ form_widget(CvForm.photo) }}

</div>

<div class="margin-top-20">
    {{ form_widget(CvForm.save, {'attr': {'class': 'btn green-haze'}}) }}
</div>

{{ form_end(CvForm) }}
